.ticket-display-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
    
  }
  
  p {
    font-size: 1.2rem;
  }
  